<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../Css/bootstrap.css" />
  </head>
  <body>
    <h1>Nodejs Mysql</h1>
    <p>Nodejs Mysql</p>
  </body>
</html>
